* {
margin: 0;
padding: 0;
font-family: "Quicksand", sans-serif;
justify-content: center;
}
.container {
width: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-around;
text-align: center;
}
#username {
padding: 13px;
font-size: 11px;
margin: 10px;
border: 1px solid #979797;
border-radius: 4px;
width: 230px;
height: 10px;
}
#password {
padding: 13px;
font-size: 11px;
margin: 10px;
border: 1px solid #979797;
border-radius: 4px;
width: 230px;
height: 10px;
}
h6 {
margin-left: 170px;
color: white;
margin-bottom: 30px;
font-size: 11px;
margin-top: -5px;
}
.signup {
font-size: 14px;
border: 1px white;
border-radius: 50px;
width: 130px;
height: 30px;
color: white;
margin-left: -10px;
background-color: rebeccapurple;
border: solid white 1px;
}
.signin {
font-size: 14px;
border: 20px white;
border-radius: 50px;
width: 100px;
height: 30px;
color: white;
margin-left: 15px;
background-color: red;
border: solid white 1px;
}
h5 {
color: white;
font-size: 12px;
margin-top: 60px;
}
html {
min-height: 100%;
background-image: url("./1.jpg");
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}
#img_lock {
width: 100%;
}
p {
font-size: 40px;
color: white;
margin-top: 100px;
border-radius: 50px;
}
.iconBtn {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: solid white 2px;
  background: transparent;
  color: white;
  font-size: 2em;
  outline: none;
  cursor: pointer;
}
.iconBx {
  display: flex;
  width: 160px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
}
.txtSign {
  color: white;
  font-size: 14px;
}
.PseudoClass::before{
  content: "";
  width: 100px;
  padding: 1px;
  border: 1px solid #fff;
}
.PseudoClass::after{
  content: "";
  width: 100px;
  padding: 1px;
  border: 1px solid #fff;
}
